#body {
  background-color: rgb(39, 39, 39) !important;
  color: white;
}

.themebtn {
  transition: all 0.3s ease-in-out;
  border: 2px solid #f1c40f;
  color: #f1c40f;
}

.themebtn:hover {
  background-color: #ae8d09;
  color: white;
}

.next-step button,
.next-step a {
  width: 100% !important;
}

.actived {
  background-color: #27ae60 !important;
  color: white;
  border: 0;
}

.disabled {
  color: #f39c12 !important;
}

.next-step button span,
.next-step a span {
  margin-left: 10px;
  transition: all 0.5s ease-in-out;
}

.next-step button:hover span,
.next-step a:hover span {
  margin-left: 20px;
}

p span {
  margin: 0 5px;
}
